@import "tailwindcss";

@theme {
  /* Light mode (default) */
  --color-background: #ffffff;
  --color-foreground: #171717;

  --color-green-primary: #10b981;
  --color-primary: #ff8400;
  --color-primary-foreground: #111111;
  --color-secondary: #e7e8e5;
  --color-secondary-foreground: #111111;
  --color-destructive: #d93c15;
  --color-destructive-foreground: #ffffff;
  --color-accent: #f2f3f0;
  --color-accent-foreground: #111111;
  --color-input: #cbccc9;
  --color-ring: #666666;

  --color-bg-page: #f5f5f5;
  --color-bg-surface: #ffffff;
  --color-bg-elevated: #fafafa;
  --color-bg-input: #f5f5f5;

  --color-accent-green: #10b981;
  --color-accent-amber: #f59e0b;
  --color-accent-red: #ef4444;

  --color-text-primary: #171717;
  --color-text-secondary: #525252;
  --color-text-tertiary: #a3a3a3;

  --color-border-primary: #e5e5e5;

  --radius: 16px;

  --font-mono: var(--font-mono);
}

:root.dark {
  --color-bg-page: #0c0c0c;
  --color-bg-surface: #171717;
  --color-bg-elevated: #1a1a1a;
  --color-bg-input: #0a0a0a;

  --color-accent-green: #10b981;
  --color-accent-amber: #f59e0b;
  --color-accent-red: #ef4444;

  --color-text-primary: #ededed;
  --color-text-secondary: #a1a1a1;
  --color-text-tertiary: #6b7280;

  --color-border-primary: #2d2d2d;
}

body {
  background: var(--color-bg-page);
  color: var(--color-text-primary);
}
